/**
 * @Author: thiemo
 * @Date:   2017-10-13T11:36:18+02:00
 * @Last modified by:   thiemo
 * @Last modified time: 2018-08-22T13:19:05+02:00
 */


pre, code{
    white-space: pre-line !important;
    text-align: center;
}
