<!-- Bootstrap core JavaScript -->
<script src="/_static/vendor/popper/popper.min.js"></script>
<script src="/_static/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/_static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/_static/js/grayscale.js"></script>
<script src="/_static/js/prism.js"></script>
