<!-- Bootstrap core CSS -->
<link href="/_static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="/_static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css" rel="stylesheet" type='text/css'>
<link href="/_static/css/custom.css" rel="stylesheet" />
<link href="/_static/css/prism.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/_static/css/grayscale.min.css" rel="stylesheet">
