<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/#page-top">Start</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#download">Install</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/build/">Demo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="https://schuelerlabor.informatik.rwth-aachen.de/lernspiele">Lernspiele</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/wikis/home.html">Wiki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/api/">Api</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#contact">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>