<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="learntech-rwth" content="">

  <title>MTLG - Multitouch Learning Games Framework</title>

  {% include '_linktags.html' %}

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
</head>

<body id="page-top">

  <!-- Navigation -->
  {% include '_navigation.html' %}

  <!-- Intro Header -->
  <header class="masthead">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h1 class="brand-heading">MTLG</h1>
            <p class="intro-text">Ein free und open source Framework zur Erstellung von Multi-/Single{touch, user}-Lernspielen
            </p>
            <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="content-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Über MTLG</h2>
          <p>Das MTLG-Framework ist ein freies open source Framework zur Erstellung von webbasierten Multiuser-Lernspielen.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Download Section -->
  <section id="download" class="download-section content-section text-center">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h2>MTLG-Framework</h2>
        <video width="640" height="480" controls>
          <source src="/_static/vid/mtlg_install.mp4" type="video/mp4">
            Your browser does not support the video tag.
            <!--<div class="col-lg-3 mx-auto">
              <pre class="language-bash"><code>
            mkdir new_game
            cd new_game
            npm init
            npm i mtlg-gameframe
            mtlg new_game
            grunt serve
          </code></pre>
            </div>-->
          </video>
      </div>
    </div>
  </section>


  <!-- Contact Section -->
  <section id="contact" class="content-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Kontakt</h2>
          <p>Wenn sie mit uns in Kontakt treten wollen, erreichen sie uns über unsere Webseite oder bei Fragen und Anregungen zum Projekt über das Gitlab Repository.</p>
          <ul class="list-inline banner-social-buttons">
            <li class="list-inline-item">
              <a href="https://learntech.rwth-aachen.de/" class="btn btn-default btn-lg">
                  <i class="fa fa-link fa-fw"></i>
                  <span class="network-name">LuFG Informatik 9</span>
                </a>
            </li>
            <li class="list-inline-item">
              <a href="https://gitlab.com/mtlg-framework/" class="btn btn-default btn-lg">
                  <i class="fa fa-gitlab fa-fw"></i>
                  <span class="network-name">Gitlab Repository</span>
                </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="container text-center">
      <!-- <p>Copyright &copy; MTLG-Group 2018</p>-->
    </div>
  </footer>

  <!-- use sphinx's jquery for bootstrap -->
  <script type="text/javascript" src="/_static/jquery.js"></script>
  {% include '_footer.html' %}
</body>

</html>
