{% extends "basic/layout.html" %}

{%- block relbar1 %}
{%- endblock %}

{%- block content %}
<div class="document container">
  <div class="row">
    <div class="col-sm-3">
      {{ sidebar() }}
    </div>
    {%- block document %}
    <div class="documentwrapper col-lg-9 mx-auto">
      <div class="bodywrapper">
        <div class="body" role="main">
          {% block body %} {% endblock %}
        </div>
      </div>
    </div>
    {%- endblock %}
  </div>
  <div class="clearer"></div>
</div>
{%- endblock %}

{%- block relbar2 %}
{%- endblock %}
