{# copied from basic/searchbox.html #}

{%- if pagename != "search" and builder != "singlehtml" %}
<div id="searchbox" style="display: none" role="search">
  <h3>{{ _('Quick search') }}</h3>
    <div class="searchformwrapper">
    <form class="search" action="{{ pathto('search') }}" method="get">
      <div class="input-group">
        <input class="form-control" type="text" name="q" />
        <input class="btn btn-default btn-sm" type="submit" value="{{ _('Go') }}" />
        <input type="hidden" name="check_keywords" value="yes" />
        <input type="hidden" name="area" value="default" />
      </div>
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
{%- endif %}
